	<footer class="main-footer">
		<div class="footer-form">
			<h2>Say Hello</h2>
			<form class="hello-form">
				<input type="text" placeholder="name">
				<input type="text" placeholder="email">
				<input type="text" placeholder="subject">
				<input type="text" placeholder="message">
				<button>Submit</button>
			</form>
		</div>
		<div class="footer-address">
			<h2>Contact</h2>
			<div class="first-address-field"> 
				<div class="address-div-one">
					<p>A-</p>
					<p>267 Niagara St.</p>
					<p>Suite 201</p>
					<p>Toronto, ON</p>
					<p>M6J 2L7</p>
					<div class="social-icons">
						<span></span><span></span><span></span>
					</div>
				</div>
				<div class="address-div-two">
					<p>P-</p>
					<p>+1.416.296.9060</p>

					<p>E-</p>
					<p>hello@ohs.global</p>
					<p>careers@ohs.global</p>
				</div>
			</div>
			<div class="sec-address-field">
				<div class="address-div-three">
					<p>Maher Murshed</p>
					<p>President</p>
					<p>maherm@ohs.global</p>
				</div>
				<div class="address-div-four">
					<p>Michael Presley</p>
					<p>CFO</p>
					<p>michaelp@ohs.global</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>