<!DOCTYPE html>
<html>
<head>
	<title>Ohs</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/fonts/ohsfonts.css">
</head>
<body>
	<header class="main-header">
		<div class="OhsLogo"><img src="/images/OHSLogo.svg" alt=""></div>
		<ul class="main-menu">
			<li>Enterpreneurs</li>
			<li>Our Portpolio</li>
			<li>Opportunities</li>
			<li>Who We Are</li>
			<li>News & Press</li>
			<li>Reach Out</li>
			<li>Search</li>
			<li onclick="javascript:window.location.href='/logout'">logout</li>
		</ul>
	</header>