<%- include('layouts/head') %>
		<div class="main-body-container">
			<div class="first-section">
				<div class="portfolio-div">
					<h3>Creating Investments – Curating Portfolios.</h3>
					<p>We are an investment boutique that values research, insight, and expertise to instill confidence for assertively investing in creative new businesses. Dedicated to the core foundations of our namesake (Objectivity, Humility, and Simplicity), we work hands-on with our clients the right way: collaboratively.</p>
				</div>
				<div class="portfolio-div-feature">

				</div>
			</div>
			<div class="mainSection">
				<div class="section_title">
					<p>WHAT WE DO</p>
					<span></span>
				</div>
				<div class="featureSection">
					<div class="featuredImgDiv"></div>
					<div class="featuredContentDiv">
						<h1>OHS Global is a resourceful investment firm that provides full service engagement for confidently investing in new and inventive businesses.</h1>
						<p>As you’ll see in our portfolio, we at OHS focus mainly on technology, design, and the retail/hospitality sectors. Here’s how: we rely on Objectivity to remain fair above all else: personal biases or subjective differences don’t hold relevancy to our businesses. Secondly, it’s imperative to us that we display Humility: being grounded as a leader and assisting others for the greater potential. Lastly, we invest in new projects with a mindset of keeping things Simple: maintaining a healthy focus on the task at hand while ignoring any unnecessary distractions. With a wealth of experience and a serious penchant for the cutting edge, we provide ample opportunities for investing in both emerging and established projects.</p>
						<button class="ohs_btn">LEARN MORE</button>
					</div>
				</div>
				<div class="protfolioFeature">
					<div class="section_title">
						<p>OPPORTUNITIES</p>
						<span></span>
					</div>
					<div class="ex_opportunities">
						<p>Looking to invest in something that already exists? Want to share in our success? Here are some options. We’ve already done the legwork to get these projects off the ground, but the opportunities for next steps are available and could be yours.</p>
					</div>
					<div class="ourInvesment">
						<div class="inv_exp" style="margin-top:72px">
							<div class="inv_Img"></div>
							<div class="inv_content" style="padding-left:64px">
								<h4>Retail</h4>
								<h1>thirty Six Knots</h1>
								<p class="label">Retail Custom Rug Store – Toronto </p>
								<p class="inv_details">The initial investment has been made and the first retail store can be found in Toronto on Yonge Street. Opportunities for future stores / franchises are available.</p>
								<button class="ohs_btn">LEARN MORE</button>
							</div>
						</div>
						<div class="inv_exp" style="margin-top:130px">
							<div class="inv_content" style="padding-right:64px">
								<h4>Technology</h4>
								<h1>EVO</h1>
								<p class="label">Computer Software – Toronto</p>
								<p class="inv_details">Early stage investment opportunity. The product has been built and in early release stage, preparing to be taken to market.  Beta version available in Wordpress market</p>
								<button class="ohs_btn">LEARN MORE</button>
							</div>
							<div class="inv_Img"></div>
						</div>
						<div class="inv_exp" style="margin-top:130px">
							<div class="inv_Img"></div>
							<div class="inv_content" style="padding-left:64px">
								<h4>Hospitality</h4>
								<h1>MIRA</h1>
								<p class="label">Restaurant – Toronto </p>
								<p class="inv_details">Mira is a delicious and successful Peruvian restaurant found in the heart of Toronto’s Entertainment District. Franchise opportunities for expansion are available.</p>
								<button class="ohs_btn">LEARN MORE</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<section></section>
<%- include('layouts/foot') %>
